
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
@Html.Partial("/Views/Admin/PartialHead.cshtml")
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                @Html.Partial("/Views/Admin/PartialNavbar.cshtml")
                <!-- //header-ends -->
                <!--content-->
                <div class="content">
                    <div class="women_main">
                        <!-- start content -->
                        <div class="w_content">
                            <div class="women">
                                <a href="#"><h4>Enthecwear - <span>4449 items</span> </h4></a>
                                <ul class="w_nav">
                                    <li>Sort : </li>
                                    <li><a class="active" href="#">popular</a></li> |
                                    <li><a href="#">new </a></li> |
                                    <li><a href="#">discount</a></li> |
                                    <li><a href="#">price: Low High </a></li>
                                    <div class="clear"></div>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <!-- grids_of_4 -->
                            @RenderBody()
                        </div>
                        <div class="clearfix"></div>
                        <!-- end content -->
                        @Html.Partial("/Views/Admin/PartialSubscribe.cshtml")

                        @Html.Partial("/Views/Admin/PartialFooter.cshtml")
                    </div>
                </div>
                <!--content-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        @Html.Partial("/Views/Admin/PartialSidebar.cshtml")
        <div class="clearfix"></div>
    </div>
    @Html.Partial("/Views/Admin/PartialScript.cshtml")
</body>
</html>